.burger {
 display: none;

  @media (max-width: $mobile-max) {
    display: block;
    width: 60px;
    height: 40px;
    padding: 10px;
    margin-left: auto;
    font-size: 0;
    border: none;
    background-image: url('../images/menu-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #e79418;
    

  }
}
