.burger {
 display: none;

  @media (max-width: $mobile-max) {
    display: block;
    width: 60px;
    height: 45px;
    margin-left: auto;
    font-size: 0;
    background-color: rgba(236, 139, 11, 0.904);
    background-image: url('../images/cil_hamburger-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    border:none;
  }
}
