.contacts {
  padding-bottom: 20px;
}

.contacts-inner {
  @include container;
}

.contacts-title {
  @include title;
  
}

.contacts-item {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    align-items: center;
    color: #FF8C00;
    text-shadow: 1px 1px 2px #060d10;
    display: none;
  

  &.active {
    display: flex;

    @media (max-width: $mobile-max) {
    display: flex;
    flex-direction: column;
    }
  }
}

.contacts-info {
  margin-bottom: 10px;
  flex-basis: 33.33%;
  margin-right: 5px;
}

.contacts-text, .contacts-text1, .contacts-text2, .contacts-text3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 33px;
  color: #ff7300;
  text-shadow: 1px 1px 2px #060d10;

  font-weight: normal;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-max) {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

.contacts-text1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 33px;
  color: #ffee00;
  text-shadow: 1px 1px 2px #060d10;

  font-weight: normal;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-max) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

.contacts-text2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 33px;
  color: #FF8C00;
  text-shadow: 1px 1px 2px #060d10;

  font-weight: normal;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-max) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

.contacts-text3 a {
  font-size: 24px;
  line-height: 33px;
  color: #1512d6;
  text-shadow: 1px 1px 2px #060d10;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

.contacts-map {
  flex-basis: 66.66%;
}

.tabs {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 10px;
  list-style: 0;
  padding-left: 0px;

  @media (max-width: $mobile-max) {
    justify-content: flex-start;
    text-align: center;
    // display: block;
    // text-align: center;
    // margin-bottom: 30px;
  }
}

.tabs-item {
  padding: 0 15px;


  @media (max-width: $tablet-max) {
    padding: 0 15px;
    text-align: center;
  }

  @media (max-width: $mobile-max) {
    padding: 0 10px;
    text-align: center;
  }
}

.tabs-link {
  font-size: 28px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #FF8C00;
  text-shadow: 1px 1px 2px #060d10;

}
