.header {
  width: 100%;
  background-color: #eef8c3;

  @media (max-width: $tablet-max) {
    padding: 0;
  }

  @media (max-width: $mobile-max) {
    padding: 0;
  }
}

.header-logo {
  width: 130px;
  padding: 5px 10px;

  @media (max-width: $tablet-max) {
    padding: 5px 10px;
  }

  @media (max-width: $mobile-max) {
    padding: 5px 10px;
  }
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




