.menu {
  @media (min-width: $desktop) {
    display: block !important;
  }
  @media (max-width: $mobile-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    border-top: 1px solid $color-accent;
    background-color: $color-accent;
  }


 ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  @media (max-width: $tablet-max) {
    justify-content: center;
  }

  @media (max-width: $mobile-max) {
  display: block;
  text-align: center;
  padding: 25px;
  }
 }

 li {
  margin-left: 30px;

  @media (max-width: $mobile-max) {
    margin: 0;
    }
  }


 a {
  font-family:'Raleway';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #800000;
  text-shadow: 1px 1px 2px #060D10;
  text-decoration: none;
  padding-bottom: 10px;

   @media (max-width: $mobile-max) {
      display: block;
     }
 }

 a.active {
  color: red;
 }

}
