.order {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(251, 242, 218, 0.2);
  }
  @media (max-width: 767px) {
    .order {
      padding: 30px 0;
    }
  }
  
  
  .order-inner {
    @include container;
  }
  @media (max-width: 1279px) {
    .order-inner {
      padding: 0 15px;
    }
  }
  
  .order-title {
    @include title;

  @media (max-width: 1279px) {
    .order-title {
      font-size: 48px;
      line-height: 56px;
    }
  }
  @media (max-width: 767px) {
    .order-title {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

  input {
    background-color: #FBF2DA;
    padding: 7px;
    font-size: 14px;
    display: block;
    width: 50%;
    margin-left: 0;
    border-radius: 5px;
    border-color: #FF8C00;
  }

  input [type] {
    font-family: "Raleway";
    color: #800000;
    text-shadow: 1px 1px 1px #0e1e25;
  }

  textarea {
    font-family: "Raleway";
    resize: none;
    background-color: #FBF2DA;
    border-radius: 5px;
    border-color: #FF8C00;
  
  }

  .btn {
    display: inline-block;
    padding: 15px 20px;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    text-shadow:  1px 1px 2px #060d10;
    margin-left: -2px;
    text-align: center;
    background-color: #FF8C00;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
    border: none;
    cursor: pointer;
  }
  
  .btn{
    width: 100%;
  }
  @media (max-width: 767px) {
    .btn-tablet {
      display: none;
    } 
  }

  .btn:hover {
    background-color: #FFFF00;
    border: 1px solid red;
   }