.prise {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(51, 51, 51, 0.1);
  @media (max-width: $tablet-max) {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  @media (max-width: $mobile-max) {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}

.prise-inner {
  @include container;
}

.prise-title {
  @include title;

  @media (max-width: $tablet-max) {
    font-size: 54px;
  }

  @media (max-width: $mobile-max) {
    font-size: 34px;
  }

}

th {
  color: #FF8C00;
  text-shadow: 1px 1px 1px #313233;
  
}

.prise-list {
  margin-top: 30px;
  @media (max-width: $tablet-max) {
    margin-top: 30px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 20px;
  }
}

.prise-item {
  margin-top: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.prise-question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 30px;
  line-height: 49px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  color: #FF8C00;
  text-shadow: 1px 1px 1px #313233;
  border-radius: 6px;
  border-color: #FF8C00;
  cursor: pointer;

  @media (max-width: $tablet-max) {
    font-size: 32px;
    line-height: 44px;
  }

  @media (max-width: $mobile-max) {
    padding: 15px;
    font-size: 20px;
    line-height: 27px;
  }
}
  
.prise-answear {
  display: none;
  background-color: aliceblue;
 }

.j-prise-icon {
  height: 40px;
  width: 40px;
  background-image: url('../images/icon-plus.jpg');

@media (max-width: $mobile-max) {
  width: 30px;
  height: 30px;
  background-size: 100%;
}
}

.prise-icon-minus {
  background-image: url('../images/icon-minus.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

