.promo {
    text-align: center;
    background-image: url(../images/milye-doktor-shhenok-labradora.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo-fade {
  background-color: rgba(51, 51, 51, 0.1);
  padding-top: 200px;
  padding-bottom: 214px;

  @media (max-width: $mobile-max) {
    padding-top: 110px;
    padding-bottom: 80px;
  }
}

  .promo-inner {
  @include container;
}

  .promo-title {
    @include title;
    padding-top: 280px;

    @media (max-width: $mobile-max) {
      padding-top: 210px;
    }
  }

  .promo-text {
    margin: 0;
    padding-top: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 74px;
    align-items: center;
    color: #FF8C00;
    text-shadow: 1px 1px 2px #060D10;

    @media (max-width: $tablet-max) {
      font-size: 32px;
      line-height: 44px;
      padding-bottom: 30px;
      
    }

    @media (max-width: $mobile-max) {
      font-size: 32px;
      line-height: 44px;
      padding-bottom: 30px;
    }
  }

