.specialists {
  padding-top: 60px;
  padding-bottom: 130px;

  @media (max-width: $tablet-max) {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  @media (max-width: $mobile-max) {
    padding-bottom: 90px;
  }
}

.specialists-inner {
  @include container; 
}

.specialists-title {
  @include title;

  @media (max-width: $tablet-max) {
    font-size: 45px;
  }

  @media (max-width: $mobile-max) {
    font-size: 40px; 
  }
}

.specialists-content {
  display: flex;
  align-items: center;
}

.specialists-slider {
  display: flex;
  align-items: center;
  padding: 0 128px;
  padding-top: 80px;

  @media (max-width: $tablet-max) {
    padding: 0 20px;
    padding-top: 70px;
  }

  @media (max-width: $mobile-max) {
    display: block;
    padding: 0;
    padding-top: 40px;
  }
}


.specialists-photo-wrap {
    margin-left: 24px;
    margin-right: 24px;

  @media (max-width: $mobile-max) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.specialists-photo {
    width: 304px;
    height: 304px;
    border-radius: 50%;

  @media (max-width: $tablet-max) {
    width: 236px;
    height: 236px;
  }

  @media (max-width: $mobile-max) {
    display: block;
    width: 178px;
    height: 178px;
  }
}

.specialists-name {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    color: #FF8C00;
    text-shadow: 1px 1px 2px #060D10;

  @media (max-width: $tablet-max) {
    font-size: 30px;
    line-height: 29px;
    
  }

  @media (max-width: $mobile-max) {
    padding-top: $indent-gap;
    text-align: center;
    font-size: 24px;
    line-height: 23px;
  }
}

.specialists-quote {
    margin: 0;
    padding-top: 40px;
    font-size: 34px;
    line-height: 33px;
    color: #ffee00;
    text-shadow: 1px 1px 2px #060D10;

  @media (max-width: $tablet-max) {
    padding-top: 20px;
    font-size: 24px;
    line-height: 25px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 10px;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
  }
}