@mixin container {
  max-width: 1276px;
  margin: 0 auto;
  border: 1px solid red;

  @media (max-width: $tablet-max) {
    padding: 0 10px;
  }
}


@mixin title {
  margin: 0 auto;
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 64px;
  line-height: 87px;
  color: #FFFF00;
  text-shadow: 1px 1px 2px #060D10;
  

  @media (max-width: $tablet-max) {
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}
